.row {
  width:100%;
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* ----da qui inizio a lavorare---- */

/* --versione Mobile-- */

@media screen and (max-width: 575px) {
  body{
    margin:0;
  }

  img{
    margin-top: 20px;
  }

  .left>h3,.right>h3,.central>h3{
    margin: 0;
  }


   /* ---parte lezioni--- */
  .container{
    background-color: rgba(234, 234, 159, 1);
  }

  .row{
    margin-top: 0px;
  }



    #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    margin-bottom: 10px;
  }

  .row>h1{
    margin: 0px;
    padding: 10px;
  }



  
  /* --parte step-- */
  #steps{
    background-color: white;
  }

    #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 100%;
    margin-bottom: 10px;
  }


  


  /* --parte why-- */

  #why{
    background-color:rgba(234, 234, 159, 1); ;
  }

  hr{
    background-color: black;
  }
    #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 0px;
  }

  .first>h3,.second>h3,.third>h3{
    margin: 0px;
  }

  
  .third{
    margin-bottom: 10px;
  }



  
 
}